[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "faviconPlease"]
	path = faviconPlease
	url = https://github.com/jdblischak/faviconplease
